In [25]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

## 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [26]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as f:
  f.write(test1)

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [27]:
with open('test.txt', 'r') as f:
  test2 = f.read() # or readline()

In [28]:
test2 == test1

True

3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

In [29]:
data = [['title', 'author', 'year'], ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'], ['Perdido Street Station', 'Chain Miéville', '2000'], ['Thid!', 'Terry Pratchett', '2005'], ['THe Spellman Files', 'Lisa Lutz', '2007'], ['Small Gods', 'Terry Pratchett', '1992']]

In [30]:
import csv
with open('books.csv', 'w') as f:
  writer = csv.writer(f)
  writer.writerows(data)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [31]:
import sqlite3 as lite

In [32]:
def create_connection(db):
  conn = None
  try:
    conn = lite.connect(db)
  except Exception as e:
    print(e)
  else:
    return conn


def create_table(conn, create_table):
  try:
    conn = conn.cursor()
    conn.execute(create_table)
  except Exception as e:
    print(e)

In [33]:
con = create_connection('books.db')

In [34]:
table_struct = """
create table if not exists books (
  title text not null,
  author text not null,
  year integer not null
);
"""

In [35]:
create_table(con, table_struct)

## 5. Read books.csv and insert its data into the book table.

In [36]:

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', con, if_exists='append', index = False)

## 6. Select and print the title column from the book table in alphabetical order.

In [37]:
conn = con.cursor()
conn.execute('select title from books order by title asc')
print(conn.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('THe Spellman Files',), ('THe Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thid!',), ('Thid!',)]

## 7. From the book table, select and print all columns in the order of publication.

In [38]:
conn.execute('select * from books order by year')
df = pd.DataFrame(conn.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1  The Weirdstone of Brisingamen      Alan Garner  1960
2                     Small Gods  Terry Pratchett  1992
3                     Small Gods  Terry Pratchett  1992
4         Perdido Street Station  Chain MiÃ©ville  2000
5         Perdido Street Station  Chain MiÃ©ville  2000
6                          Thid!  Terry Pratchett  2005
7                          Thid!  Terry Pratchett  2005
8             THe Spellman Files        Lisa Lutz  2007
9             THe Spellman Files        Lisa Lutz  2007

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [39]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'Chain MiÃ©ville', 2000)
('Thid!', 'Terry Pratchett', 2005)
('THe Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'Chain MiÃ©ville', 2000)
('Thid!', 'Terry Pratchett', 2005)
('THe Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash alled test with the fields count (1) and name (&#39;Fester Bestertester&#39;).Print all the fields for test.

In [40]:
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redis in /usr/local/lib/python3.8/dist-packages (4.5.1)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.8/dist-packages (from redis) (4.0.2)

In [40]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

## 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)