In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

## 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [4]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as f:
  f.write(test1)

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test.txt', 'r') as f:
  test2 = f.read() # or readline()

In [6]:
test2 == test1

True

3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

In [7]:
data = [['title', 'author', 'year'], ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'], ['Perdido Street Station', 'Chain Miéville', '2000'], ['Thid!', 'Terry Pratchett', '2005'], ['THe Spellman Files', 'Lisa Lutz', '2007'], ['Small Gods', 'Terry Pratchett', '1992']]

In [8]:
import csv
with open('books.csv', 'w') as f:
  writer = csv.writer(f)
  writer.writerows(data)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [9]:
import sqlite3 as lite

In [10]:
def create_connection(db):
  conn = None
  try:
    conn = lite.connect(db)
  except Exception as e:
    print(e)
  else:
    return conn


def create_table(conn, create_table):
  try:
    conn = conn.cursor()
    conn.execute(create_table)
  except Exception as e:
    print(e)

In [11]:
con = create_connection('books.db')

In [12]:
table_struct = """
create table if not exists books (
  title text not null,
  author text not null,
  year integer not null
);
"""

In [13]:
create_table(con, table_struct)

## 5. Read books.csv and insert its data into the book table.

In [14]:

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', con, if_exists='append', index = False)

## 6. Select and print the title column from the book table in alphabetical order.

In [15]:
conn = con.cursor()
conn.execute('select title from books order by title asc')
print(conn.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('THe Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thid!',)]

## 7. From the book table, select and print all columns in the order of publication.

In [19]:
conn.execute('select * from books order by year')
df = pd.DataFrame(conn.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  Chain MiÃ©ville  2000
3                          Thid!  Terry Pratchett  2005
4             THe Spellman Files        Lisa Lutz  2007

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [22]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'Chain MiÃ©ville', 2000)
('Thid!', 'Terry Pratchett', 2005)
('THe Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

<ipython-input-22-03768d188b70>:3: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  rows = engine.execute('select * from books')

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash alled test with the fields count (1) and name (&#39;Fester Bestertester&#39;).Print all the fields for test.

In [6]:
!pip install redis

Requirement already satisfied: redis in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (4.5.1)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from redis) (4.0.2)

In [5]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_4688\19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}